.sendmailbtn {
    background-color: #8bc34a; 
    color: #fff;
    font-size: 12px;
    padding: 10px 20px; 
    border: 1px solid transparent;
    border-radius: 8px; 
    font-weight: 600; 
    letter-spacing: 0.5px; 
    text-transform: uppercase;
    position: absolute; 
    top: 20px; 
    left: 20px; 
    cursor: pointer; 
    justify-content: center;
    align-items: center; 
    margin: 10px;
}

.sendmailbtn:hover {
    background-color: #5b9717; 
}